.App {
  text-align: center;
  margin-top: 50px;
}

.world-clock-block {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  margin: 0 auto;
}

.form-group .input-group:not(:first-child) {
  margin-left: 20px;
}

.form-group .input-group label {
  margin-right: 10px;
}

.clocks {
  display: flex;
  margin: 10px auto 0px;
}

.clocks .clock:not(:first-child) {
  margin-left: 10px;
}

.clocks .clock {
  position: relative;
  padding-top: 20px;
}

.clocks .clock .remove-clock {
  position: absolute;
  top: 0;
  right: 0;
}

.clocks .clock .remove-clock:hover {
  cursor: pointer;
}